<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreamYard - Studio</title>
    <link rel="stylesheet" href="./css/studio.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
</head>
<body>
    <div class="top">
        <div class="logo">
            <img src="./images/streamyard-logo.png" alt="streamyard-logo">
            <h2><%= title %></h2>
        </div>
        <div class="btn">
            <button>Go Live &#127881;</button>
            <button>Record</button>
        </div>
    </div>
    <div class="sidebar">
        <h3>Add</h3>
        <div class="brand">
            <span class="material-symbols-outlined">Overlays</span>
        </div>
        <div class="comment">
            <span class="material-symbols-outlined">Comment</span>
        </div>
    </div>    
    <div class="main">
        <div id="videos">
            <video class="video-player" id="user" autoplay playsinline></video>
            <canvas id="canvas"></canvas>
          </div>          
        <div id="controls">
            <div class="control-container" id="camera-btn">
                <img src="./images/camera.png" />
            </div>
    
            <div class="control-container" id="mic-btn">
                <img src="./images/mic.png" />
            </div>
        </div>
    </div>
    <script src="./js/main.js"></script>
</body>
</html>
