<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreamYard - Stream & record</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <img id="img" src="./images/streamyard.png" alt="StreamYard">
    <h2>Create Livestream</h2>
    <form action="/title" method="get">
        <button id="btn">+ Create</button>
    </form>
</body>
</html>